page-home {
.content{
    text-align: center;
}
ion-content{
    background-image: url('../assets/imgs/background1.jpg');
    //opacity: 0.5;
}
.img{
    display: block;
   // margin-top: 10px;
    // ion-img{
    //     border-radius: 25px;
    //     border: 2px solid red;
    // }
}

.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 1.5rem;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 85px;
    background-position: 0px -4px;
    position: relative;
}
.logo-image{
    text-align: center;
    // margin-left: 110px;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
    border: none;
    z-index: 10;
}

.purple-bg
{
    background-color: rgb(49, 179, 16);
    color: #fff;
    height: 45px;
    // margin-left: 10px;
    // margin-right: 10px;
}
.or-box
{
    position: relative;
    // border-top: 1px solid #dfdfdf;
    // padding-top: 10px;
    // margin-top:10px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: rgb(44, 75, 214);
    color: #fff;
    font-weight:bold;
    font-size: 12px;
    height: 45px;
    // margin-left: 5px;
    // margin-right: 0px;
    z-index: 10;
}
.btn-google
{
    background-color: #e42b2b;
    color: #fff;
    font-weight:bold;
    font-size: 12px;
    height: 45px;
    // margin-left: 0px;
    // margin-right: 5px;
    // padding-left: 0;
}
.form-signin{
    font-size: 1.5rem;
}
.formClass{
    font-size: 1.5rem;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 40px;
}
.row-block{
    padding: 10px;
    font-size: 10px;
}
.forgot-password{
float: right;
color: green;
}
.forgot-password:hover{
    color:rgb(209, 140, 36);
        }
.register{
    color: green;
}
.row-register
{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
}
